*{
padding: 0;
margin: 0;
}
.header
{
height:500px;
width: 100%;
background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/good.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.active-home
{
border-bottom:2px solid #fff
}
.nav-link:hover
{
border-bottom:2px solid #fff;
}

.banner
{
color:#fff;
margin-top:180px;
}
.banner a
{
padding:12px;
width:180px;
display:inline-block;
text-decoration:none;
border:2px  solid #fff;

}
.service
{
background: #667788;
border-radius: 5px;
padding:10px;
color: #fff !important
}
.review
{
margin: 100px 0;
}
.item
{
width: 150px;
border-radius: 50%;
}
#btntwo:hover
{
background:#fff;
color:#000;
}
#btntwo1:hover
{
background:#fff;
color:#000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

ul li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #fff;
    color:#000
}