{% extends 'abmublog/base.html' %}
{% block title %}Add new product{% endblock %}
{% load static %}
{% block content %}

<body>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 ">
              <div class="col-md-5"  style="background:#f2f2f2">
                  <div class="card card-body">
        {% if messages %}
          <div class="alert alert-success" style="background:green;color:#fff">
               {% for message in messages %}
                    <p style="text-align:center">{{message}}</p>
               {% endfor %}
           </div>
       {% endif %}

                      <h3>Add Product List</h3>
                      <form action="" method="post">
                         {% csrf_token %}
                           {{form.as_p}}<br>
                           <button  type="submit" name="add" class="btn btn-success">Add</button>
                        </form>
                  </div>
               </div>
           </div>
        </div>
</div>
</body>
{% endblock content %}