{% extends 'abmublog/base.html' %}
{% block title %}change password{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
             {% if messages %}
                 <div class="card card-body">

                         {% for message in messages %}

                                      <div class="alert alert-success left-icon-alert" role="alert">
                                        {{message}}  <a href="{% url 'homepage' %}">back to home</a></h2>
                                       </div>

                            {% endfor %}
                  </div>
            {% endif %}
             <div class="card card-body">
                   <strong style="color:red;">{{form.errors}}</strong><br>
               <form action="" class="form-group" method="post">
                 {% csrf_token %}
                   {{form.as_p}}
                 <button class="btn btn-primary" type="submit">Save changes</button>
             </form>
             </div>
        </div>
    </div>
</div>
{% endblock content %}