{% extends 'abmublog/base.html' %}
{% block title %}forgot password{% endblock %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="col-md-12 ">
              <div class="col-md-8">
                  <div class="card card-body">
                    {% if messages %}
                      <div class="alert alert-success" style="background:green;color:#fff">
                           {% for message in messages %}
                                <p style="text-align:center">{{message}}</p>
                           {% endfor %}
                       </div>
                   {% endif %}


                      <form action="" method="post">
                         {% csrf_token %}
                         <label>Email: </label>  <input type="text" class="form-control" placeholder="enter your email"><br>
                           <button  type="submit" name="add" class="btn btn-info">Enter</button>
                        </form>

           </div>
        </div>
        </div>
    </div>
{% endblock content %}