<html>
   <head>
       <title></title>
   </head>
<body>
   <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white  mb-3">
                    <div class="card-header" style="background:#009988">
                        <h5 class="card-title" >Total Orders</h5>
                    </div>
                    <div class="card-body" style="background:#009988">
                        <h3 class="card-title">{{total_ordes}}</h3>
                    </div>
                </div>
                </div>
            </div>
            <div class="col">
            <div class="col-md">
                <div class="card text-center text-white  mb-3">
                    <div class="card-header" style="background:#008899">
                        <h5 class="card-title">Oders Delivered</h5>
                    </div>
                    <div class="card-body" style="background:#008899">
                        <h3 class="card-title">{{Delivered}}</h3>
                    </div>
                </div>
                </div>
            </div>

         <div class="col">
            <div class="col-md">
                <div class="card text-center text-white  mb-3">
                    <div class="card-header" style="background:#458643">
                        <h5 class="card-title">Oders Pending</h5>
                    </div>
                    <div class="card-body" style="background:#458643">
                        <h3 class="card-title">{{Pending}}</h3>
                    </div>
                </div>
                </div>
            </div>

        </div>

   </div>
</body>
</html>